/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    background-color: black;
    background-image: url("../assets/page-bg.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 150px;
}

.jumbotron {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
}

.message {
    color: white;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    position: relative;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #0f2364;
    opacity: 0.4;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    line-height: 100px; /* Vertically center the text there */
    background-color: #000000;
    color: white;
}